[user]
pinned=/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/google-chrome.desktop;/usr/share/applications/firefox-esr.desktop;/usr/share/applications/code.desktop;/usr/share/applications/geany.desktop;/usr/share/applications/xfce4-taskmanager.desktop;
